body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:648px;
  width:56px;
  height:66px;
  overflow:hidden;
  visibility:hidden;
}
#u80_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u80_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:658px;
  width:51px;
  height:56px;
  overflow:hidden;
  visibility:hidden;
}
#u81_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u81_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:668px;
  width:38px;
  height:46px;
  overflow:hidden;
  visibility:hidden;
}
#u82_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:221px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:475px;
  width:199px;
  height:221px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:236px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:468px;
  width:173px;
  height:236px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:114px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:568px;
  width:201px;
  height:114px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:225px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:22px;
  width:233px;
  height:215px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:22px;
  width:35px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u87_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:99px;
  width:35px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u88_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u88_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:251px;
  width:233px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:468px;
  width:248px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:408px;
  width:233px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:362px;
  width:213px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:253px;
  height:235px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:22px;
  width:233px;
  height:215px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:249px;
  height:153px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:559px;
  width:229px;
  height:133px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:227px;
  height:288px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:432px;
  width:207px;
  height:268px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:18px;
  width:53px;
  height:54px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:61px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u97_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:73px;
  height:71px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:18px;
  width:53px;
  height:51px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:49px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:19px;
  width:43px;
  height:49px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:241px;
  height:251px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:470px;
  width:221px;
  height:231px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
