body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:622px;
  width:34px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u465_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u465_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:622px;
  width:34px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u466_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u466_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:654px;
  width:34px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u467_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u467_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:183px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:519px;
  width:186px;
  height:183px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:207px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:509px;
  width:138px;
  height:207px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:182px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:525px;
  width:115px;
  height:182px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:210px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:18px;
  width:203px;
  height:200px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:50px;
  width:34px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u472_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u472_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:99px;
  width:34px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u473_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:228px;
  width:315px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:431px;
  width:284px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:431px;
  width:254px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:431px;
  width:291px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:223px;
  height:220px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:28px;
  width:203px;
  height:200px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:170px;
  height:220px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:507px;
  width:150px;
  height:200px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:180px;
  height:236px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:488px;
  width:160px;
  height:216px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:246px;
  height:221px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:498px;
  width:226px;
  height:201px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:18px;
  width:53px;
  height:54px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:73px;
  height:71px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:18px;
  width:53px;
  height:51px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:49px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:19px;
  width:43px;
  height:49px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:105px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u486_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u486_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
