body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:683px;
  width:35px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u272_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u272_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:683px;
  width:35px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u273_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u273_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:670px;
  width:35px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u274_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u274_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:200px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:520px;
  width:125px;
  height:200px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:156px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:551px;
  width:188px;
  height:156px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:199px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:31px;
  width:244px;
  height:189px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:169px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:556px;
  width:170px;
  height:169px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:81px;
  width:35px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u279_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u279_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:131px;
  width:35px;
  height:37px;
  overflow:hidden;
  visibility:hidden;
}
#u280_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u280_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:232px;
  width:301px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:455px;
  width:252px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:445px;
  width:293px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:472px;
  width:330px;
  height:57px;
  font-family:'Arial Negrito', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:288px;
  height:221px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:31px;
  width:268px;
  height:201px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:221px;
  height:189px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:538px;
  width:201px;
  height:169px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:168px;
  height:219px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:508px;
  width:148px;
  height:199px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:170px;
  height:209px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:518px;
  width:150px;
  height:189px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:18px;
  width:53px;
  height:54px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:73px;
  height:71px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:18px;
  width:53px;
  height:51px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:49px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:19px;
  width:43px;
  height:49px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:122px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u293_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u293_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
